# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
*/.cert
.env

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
package-lock.json
npm-debug.log*
yarn-debug.log*
*.zip
*.pem
.vscode

/client/node_modules
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local 
 
/server/.env
/server/node_modules
/server/client/node_modules
server/server.log 
server/server.error
client/package-lock.json
server/package-lock.json
client/src/dev-server-link.js 
client/build
*/minigama/*.icloud
*/minigama/*.gamlbin
*/minigama/*.experimentbin
*/minigama/*.log
*/minigama/target/
*/minigama/*.orig
*/minigama/build/
*/minigama/gama.ui.shared/icons/build/
*/minigama/dist/
*/minigama/private/
*/minigama/release/
*/minigama/*.iml
*/minigama/*.ipr
*/minigama/*.iws
*/minigama/*.iml
*/minigama/.idea/
*/minigama/*~
*/minigama/*.bak
*/minigama/.directory
*/minigama/.DS_Store
*/minigama/*.history
*/minigama/*.class
*/minigama/.metadata/
*/minigama/*/gaml/
*/minigama/*/bin/
*/minigama/gama.dependencies/lib/
*/minigama/.__*
*/minigama/*/.tycho-consumer-pom.xml
*/minigama/**/org.eclipse.jdt.core.prefs
*/frontend/node_modules 
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
*.class
.classpath
.project
.settings/
.idea/
*.iml
.DS_Store

# Frontend
frontend/node_modules
frontend/build
frontend/.env
*/build/* 



# Node
xtextlsp/node_modules

# Xtext / Xtend
xtextlsp/model
xtextlsp/src-gen
xtextlsp/xtend-gen
xtextlsp/.antlr*.jar

# Eclipse
xtextlsp/.classpath
xtextlsp/.project
xtextlsp/.settings/
xtextlsp/.metadata/
xtextlsp/bin/

# IntelliJ
xtextlsp/*.iml
xtextlsp/*.ipr
xtextlsp/*.iws
xtextlsp/.idea/
xtextlsp/out/

# Gradle
xtextlsp/.gradle/
xtextlsp/build/
xtextlsp/!gradle-wrapper.jar
xtextlsp/gamalsp/*.icloud
xtextlsp/gamalsp/*.gamlbin
xtextlsp/gamalsp/*.experimentbin
xtextlsp/gamalsp/*.log
xtextlsp/gamalsp/target/
xtextlsp/gamalsp/*.orig
xtextlsp/gamalsp/build/ 
xtextlsp/gamalsp/dist/
xtextlsp/gamalsp/private/
xtextlsp/gamalsp/release/
xtextlsp/gamalsp/*.iml
xtextlsp/gamalsp/*.ipr
xtextlsp/gamalsp/*.iws
xtextlsp/gamalsp/*.iml
xtextlsp/gamalsp/.idea/
xtextlsp/gamalsp/*~
xtextlsp/gamalsp/*.bak
xtextlsp/gamalsp/.directory
xtextlsp/gamalsp/.DS_Store
xtextlsp/gamalsp/*.history
xtextlsp/gamalsp/*.class
xtextlsp/gamalsp/.metadata/
xtextlsp/gamalsp/*/gaml/
xtextlsp/gamalsp/*/bin/
xtextlsp/gamalsp/gama.dependencies/lib/
xtextlsp/gamalsp/.__*
xtextlsp/gamalsp/*/.tycho-consumer-pom.xml
xtextlsp/gamalsp/**/org.eclipse.jdt.core.prefs 
