version: '3.8'

services:
  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

  server:
    build: .
    ports:
      - "5500:5500"
    environment:
      - DB_URL=mongodb://mongodb:27017/oj-server
      - NODE_ENV=development
      - JWT_SECRET=your_jwt_secret
    depends_on:
      - mongodb

volumes:
  mongodb_data:
