target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
*.class
.classpath
.project
.settings/
.idea/
*.iml
.DS_Store

# Frontend
frontend/node_modules
frontend/build
frontend/.env
*/build/*
gama.dependencies/geotools/*
gama*
gaml*
travis*